#!/usr/bin/make -f
export PYBUILD_NAME=globaleaks
export PYBUILD_DISABLE=test
export PYBUILD_INSTALL_ARGS=--no-compile
export DH_VIRTUALENV_ARGUMENTS=--sourcedirector=backend

%:
	dh $@ --with python-virtualenv

override_dh_install:
	dh_apparmor --profile-name=usr.bin.globaleaks
	dh_install --fail-missing

override_dh_installman:
	true

override_dh_python3:
	dh_python3 --no-guessing-deps

override_dh_virtualenv:
	dh_virtualenv --python python3 --pip-tool=pip3 --sourcedirectory="backend/" --extra-pip-arg="--no-compile"
